*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color:rgb(21, 21, 70)
}

#div1{
    display: flex;
    flex-direction: row;
    height:70%;
    
} 
#in_div1_01{
    position: absolute;
    left:10%;
    top:15%;
   width:40%;
   height: 50%;
   
}
#in_div1_02{
    position: absolute;
    width:50%;
    left:50%;
    height: 50%;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 80px;
    
}   
p{
    position: relative;
    top:45%;

    height: 30%;
    width: 90%;
}

#mini{
    height: 20%;
    width: 90%;
    font-size: 40px;
}

#div2{
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    height:60%;
    justify-content: space-evenly; 
} 

#in_div2_03{
    /* border: 1px solid red; */
    position: relative;
    top:10%;    
    height:78%;
    width:40%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#div3{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    height:50%;
    justify-content: space-evenly; 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
} 

#in_div3_01{
    position: relative;
    height:100%;
    background-color: rgb(66, 19, 46);
    width:50%;
    /* border: 1px solid red; */
}
#Semantic1 {
    position: absolute;
    
    /* border: 1px solid red; */
    left:10%;
    top: 20%;
    width:100%;
    /* left:50%; */
    height: 20%;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}

#Semantic2{
    position: absolute;
    
    /* border: 1px solid red; */
    left:10%;
    top: 50%;
    width:80%;
    /* left:50%; */
    height: 20%;
    font-family: 'Epilogue', sans-serif;
    font-size: 20px;
}

#segment{
    position: absolute;
    top: 10%;
    left:5%;
    border:5px double yellow;
    height:80%;
    width:90%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

/*Upload section*/
.search{
    
    /* background-color: #af65d1; */
    height: 95%;
    width: 100%;
    position: relative;
}
.Choose{
    
    background: #03001e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e); 
    background: linear-gradient(to right, #fdeff9, #ec38bc, #7303c0, #03001e);

    position: relative;
    height:50%;
    width:70%;
    border-radius: 5%;
    top:  20%;
    left: 15%;
    /* border: 4px dashed orange; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

}
/*  */
#Ch_Img{
    
    display: flex;
    /* border: 1px solid red; */
    position: relative;
    top: 25%;
    left:45%;
    height:30%;
    width:10%;

    
}
#IMG2{
    /* border : 1px solid red; */
    height: 100%;
}
#ele{
    
    position:relative;
    bottom: 10%;
}
#exe{
    position:relative;
    width: 20%;
    height: 70%;
    
}
#BT{
    display: flex;
    justify-content: space-between  ;
    position: absolute;
    width: 50%;
    bottom:15%;
    left:35%;
}
 
#form_down{
    display: flex;
    justify-content: space-evenly;
  
    width: 60%;
}
input[type=file]{
    
    cursor: pointer;    
    display: none;
    width: auto;
}
label,input[type=submit]
{ position: relative;
  background-color: #FFFFFF;
  border: 1px solid #222222;

  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
    
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
    width: auto;
}